<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>


    <link rel="stylesheet" href="/static/css/common.css">
    {% block css %}
    {% endblock %}


</head>


<body>

<div class="nav">
    <div class="nc">
        <div class="ncl">
            <a href=""></a>
            <a href="">全部</a>
            <a href="">42区</a>
            <a href="">段子</a>
            <a href="">图片</a>
            <a href="">挨踢1024</a>
            <a href="">你问我答</a>


        </div>
        <div class="ncr">
            <div class="ncr1">

                <form action="">

                    <input type="text"/>
                    <a href=""><span class="ico"></span></a>
                </form>


            </div>
            <div class="ncr2">
                <div class="ncr2-l">
                    <a href=""><span>注册</span></a>
                    <a id="login"><span>登录</span></a>
                </div>
                <div class="lg-list hide">
                    <a href=""> 我的新热榜</a>
                    <a href=""> 我的钱包</a>
                    <a href=""> 我的收藏</a>
                    <a href="">设置</a>
                    <a href="">推出</a>
                </div>


            </div>


        </div>
    </div>
</div>


<div class="main-content-bang" style="margin:0 auto;">

    <div class="content">

        <div class="content-l">
            <div class="clearfix">
                <div class="nav-top-area clearfix">

                    <div class="child-nav">
                        <a href="">最热</a>
                        <a href="">发现</a>
                        <a href="">人类发布</a>


                    </div>
                    <div class="sort-nav">
                        <a href="">即使排序</a>
                        <a href="">24小时</a>
                        <a href="">3天</a>


                    </div>
                    <a href="" class="publish-btn">
            <span class="ico ">

            </span>
                        <span>发布</span>

                    </a>


                </div>
            </div>
            <!-- <div style="clear: both"></div> -->
            <div class="content-list">
                <div class="item">

                    <div class="news-pic"><img src="/static/img/7D73F9B162B44E83A1645DC8C75C5BF1_W344H344=C120x120.jpg"
                                               style="display: inline; cursor: -webkit-zoom-in;width: 60px;height: 60px;"
                                               alt="抽屉新热榜"/></div>
                    <div class="news-content">
                        <div class="part1">
                            <a href="" class="show-content">一战是中产阶级的内战？</a>
                            <span class="content-source">-www.qdaily.com</span>
                            <a href="" class="n2">

                                <span class="content-kind">42区</span>

                            </a>
                        </div>
                        <div class="area-summary"><span class="summary">事后想起来，一战最令人感到不可思议之处，是进入以战壕战和阵地战为主的持久战之后，交战双方士兵的士气在很长时间内依然保持不堕。尽管不满的情绪越来越强烈，可战争还在继续，而它之所以能够继续，是因为士兵们愿意打下去。考虑到双方军队的主体都不...</span>
                        </div>

                        <div class="part2">
                            <a href="" class="digg-a" title="推荐">
                                <span class="icon-dgg"></span>


                                <b>11</b>
                                <i style="display: none;"></i>

                            </a>
                            <a href="" class="dicus-a" title="评论">
                                <span class="icon-discus"></span>


                                <b>3</b>

                            </a>
                            <a href="" class="collect-a" title="加入私藏">
                                <span class="icon-collect"></span>


                                <b>私藏</b>
                            </a>
                            <a href="" class="user-a">
                                <span><img style="width: 15px;height: 15px; border: 1px solid white;"
                                           src="/static/img/CHOUTI_0B577FC6E8004C1E9C5870029F2811E2_W48H48=32x32.jpg"
                                           alt=""/></span>


                                <b>好奇心日报</b>
                            </a>
                            <span class="time-into">
                    <a href="" class="time-a">
                        <b>37分钟前</b>
                    </a><i>入热榜</i>

                </span>
                            <span class="share-site-to">
                    <i>分享到</i>
                    <span class="share-icon">
                        <a class="icon-sina" href=""></a>
                        <a class="icon-douban" href=""></a>
                        <a class="icon-qqzone" href=""></a>
                        <a class="icon-renren" href=""></a>
                        <a class="share-none" href=""></a>
                    </span>
                </span>


                        </div>


                    </div>

                </div>


                <div class="page">
                    <div id="dig_lcpage">
                        <ul>
                            <li><a href="" class="ct-pagepa">1</a></li>
                            <li><a href="" class="ct-pagepa">2</a></li>
                            <li><a href="" class="ct-pagepa">3</a></li>
                            <li><a href="" class="ct-pagepa">4</a></li>
                            <li><a href="" class="ct-pagepa">5</a></li>
                            <li><a href="" class="ct-pagepa">6</a></li>
                            <li><a href="" class="ct-pagepa">7</a></li>
                            <li><a href="" class="ct-pagepa">8</a></li>
                            <li><a href="" class="ct-pagepa">9</a></li>
                            <li><a href="" class="ct-pagepa">10</a></li>
                            <li><a href="">下一页</a></li>
                        </ul>
                    </div>

                </div>


                <div class="content-r" style="float:right;">


                </div>


            </div>


            <div class="foot">


                <div class="f-main">

                    <p><span>关于我们</span>|
                        <span>联系我们</span>|
                        <span>服务条款</span>|
                        <span>隐私政策</span>|
                        <span>抽屉新热榜工具</span>|
                        <span>下载客户端</span>|
                        <span>意见与反馈</span>|
                        <span>友情链接</span>|
                        <span>公告</span> <a href="" style="margin-left: 5px;"> <img src="/static/img/ct_rss.gif"
                                                                                   style="width: 36px;height: 14px;"
                                                                                   alt=""/></a></p>
                    <p><a href=""><img style="width: 50px;height: 15px;vertical-align: text-top;"
                                       src="/static/img/gozap-logo-50_15.gif" alt=""/></a>旗下站点 ©2018 chouti.com <a
                            href="">京ICP备09053974号-3 京公网安备 110102004562</a></p>
                    <p>违法和不良信息举报： 电话：010-58302039 邮箱： <a href="">jubao@chouti.com</a></p>
                    <p>版权所有：北京格致璞科技有限公司</p>
                </div>

            </div>
        </div>


        <div class="pg-body">


            <div class="shadow hide" id="shadow">


            </div>
            <div class="account-dialog hide" id="dialog">
                <div class="dg-head">
                    <div class="lg-hl">
                        登录
                    </div>
                    <div class="rg-hr">
                        <div class="clos-icon" id="clos"></div>
                        <div>注册</div>

                    </div>
                </div>


                <div class="login" id="model_login">
                    <form action="">
                        <div class="ph-user"><span>邮箱登录</span>|<span>用户名登录</span>
                        </div>
                        <div class="lg-email inp">
                            <input type="text" name="user" value="" placeholder="邮箱">
                        </div>

                        <div class="us-pd inp">
                            <input type="password" name="pwd" placeholder="密码"/>
                        </div>

                        <div class="inp">
                            <input name="code" class="check-code" id="ck" type="text" placeholder="请输入验证码"/>
                            <span>
                            <img class="check-img" src="/check_code/" alt="验证码" onclick="ChangeCode(this);">
                        </span>
                            <script>
                                function ChangeCode(ths) {
                                    $(this).src += '?'
                                }

                            </script>

                        </div>
                        <div class="lg-ck">
                            <input class="" type="checkbox" name="" value="">
                            <span>一个月内自动登录</span>
                            <span><a href="">忘记密码</a></span>
                        </div>

                        <div class="lg-bt">

                            <input type="button" value="登录">

                        </div>


                    </form>
                </div>


                <div class="register" id="model_register">
                    <form action="/register.html" method="post">
                        <div class="rg-head"><span>1 填写用户名</span>&gt;<span>2 填写基本资料</span></div>

                        <div id="register_error_summary" class="error_msg"></div>

                        <div class="rg-user inp"><input type="text" name="username" value="" placeholder="请输入用户名"></div>
                        <div class="rg-email inp"><input type="text" id="email" name="email" value="" placeholder="邮箱">
                        </div>

                        <div class="inp">
                            <input class="rg-recv" type="text" name="email_code" value="" placeholder="验证码">
                            <a class="rg-achv" class="" style="cursor: pointer;" id="send_msg">获取验证码</a>
                        </div>
                        <div class="rg-pawd inp"><input type="password" name="password" value="" placeholder="密码"></div>

                        <div class="rg-bt"><a onclick="SubmitRegister(this)">注册</a></div>


                    </form>
                </div>

            </div>


        </div>
    </div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        bindShadow();
        bindModal();
        sendMsg();
    });

    function bindShadow() {
        $('#login').click(function () {
            $('#shadow').removeClass('hide');
            $('#dialog').removeClass('hide');


        })


    }

    function bindModal() {
        $('#clos').click(function () {
            $('#shadow').addClass('hide');
            $('#dialog').addClass('hide');
        })

    }

    function sendMsg() {

        $('#send_msg').click(function () {
            $('#register_error_summary').empty();
            var email = $('#email').val();
            if (email.trim().length == 0) {
                $('#register_error_summary').text('请输入注册邮箱')
            }
            if ($(this).hasClass('sending')) {
                return
            }
            var ths = $(this);
            var time = 60;
            $.ajax(
                {
                    type: 'POST',
                    url: "/send_msg/",
                    data: {email: email},
                    dataType: "json",
                    success: function (arg) {
                        if (!arg.status) {
                            $('#register_error_summary').text(arg.summary);


                        } else {
                            ths.addClass('sending')
                            var interval = setInterval(function () {
                                ths.text("已发送(" + time + ")");
                                time -= 1;
                                if (time <= 0) {
                                    clearInterval(interval)
                                    ths.removeClass('sending')
                                    ths.text("获取验证码")


                                }


                            }, 1000)


                        }


                    }


                }
            )


        })


    }

    /*
       点击注册按钮
       */
    function SubmitRegister(ths) {
        $('#register_error_summary').empty();
        $('#model_register .inp .error').remove();

        /* $(ths).children(':eq(0)').addClass('hide');
         $(ths).addClass('not-allow').children(':eq(1)').removeClass('hide');
*/
        var post_dict = {};
        $('#model_register input').each(function () {
            post_dict[$(this).attr("name")] = $(this).val();
        });

        $.ajax({
            url: '/register/',
            type: 'POST',
            data: post_dict,
            dataType: 'json',
            success: function (arg) {
                if (arg.status) {
                    window.location.href = '/index';
                } else {
                    $.each(arg.message, function (k, v) {
                        //<span class="error">s</span>
                        var tag = document.createElement('span');
                        tag.className = 'error';
                        tag.innerText = v[0]['message'];
                        $('#model_register input[name="' + k + '"]').after(tag);
                    })
                }
            }
        });
        $('#shadow').addClass('hide');
        $('#dialog').addClass('hide');

    }


    function SubmitLogin(ths) {
        {#$(ths).children(':eq(0)').addClass('hide');#}
        {#$(ths).addClass('not-allow').children(':eq(1)').removeClass('hide');#}
        // 发送Ajax请求
        //完成之后
        $('#model_login .inp .error').remove();

        var post_dict = {};
        $('#model_login input').each(function () {
            post_dict[$(this).attr("name")] = $(this).val();
        });

        $.ajax({
            url: '/login/',
            type: 'POST',
            data: post_dict,
            dataType: 'json',
            success: function (arg) {
                if (arg.status) {
                    window.location.href = '/index';
                } else {
                    $.each(arg.message, function (k, v) {

                        //<span class="error">s</span>
                        var tag = document.createElement('span');
                        tag.className = 'error';
                        tag.innerText = v[0]['message'];
                        $('#model_login input[name="' + k + '"]').after(tag);
                    })
                }
            }
        });

        $('#shadow').addClass('hide');
        $('#dialog').addClass('hide');
    }


</script>

{% block js %}
{% endblock %}

</body>
</html>